{% extends 'base.html' %}

{% block content %}
<main class="conteiner_all">
    <div class="home_conteiner">
        <h1 class="home_h1">Kilka informacji o stronie</h1>

        <p class="home_p">Strona internetowa, na której obecnie się znajdujesz została wykonana w ramach pracy dyplomowej na
    Uniwersytecie im. Adama Mickiewicza w Poznaniu, na kierunku Kognitywistyka. Link do APD pojawi się na stronie wraz z chwilą publikacji. Strona ta umożliwia dyskusję z chatbotami, których zadaniem jest imitowanie rozmowy z jednym z czterech polityków uczestniczących w przedwyborczych debatach prezydenckich. Podczas rozmowy z chatbotem posiadasz możliwość otrzymania odpowiedzi na tematy przedstawione w poszczególnych zakładkach. Pytanie można zadać poprzez parafrazę docelowego tematu. Po odpowiedzi na każde zapytanie, istnieje możliwość dopytania danego chatbota o doprecyzowanie przedstawianej przez niego tezy. Wystarczy, że spytasz go dlaczego tak uważa.
        </p>
        <h1 class="home_h1">Skąd czerpane są odpowiedzi polityków?</h1>
        <p class="home_p">Odpowiedzi polityków pochodzą z transkrypcji debat prezydenckich. Debaty te były realizowane przez stację telewizyjną TVP 6 maja 2020 roku oraz 15 czerwca 2020 roku. Wszelkie ingerencje w odpowiedzi polityków, tj. ingerencja w strukturę dialogową, zostały przeprowadzone zgodnie z założeniami przyjmowanymi przez Teorię Zakotwiczenia Inferencji (więcej informacji znajdziesz w artykule <a href="https://discovery.dundee.ac.uk/en/publications/speech-acts-of-argumentation-inference-anchors-and-peripheral-cue">Speech acts of argumentation: Inference anchors and peri-pheral cues in dialogue</a>).</p>
        <h1 class="home_h1">W razie pytań oraz uwag…</h1>
        <p class="home_p">Zapraszam do kontaktu przez jeden z najbardziej preforowanych przez Ciebie kanałów komunikacyjnych znajdujących się na tej stronie</p>
        <div class ="social">
            <a href = "https://www.instagram.com/krzysiek_dz98/"><img src="/static/img/instagram.png\" alt = "Andrzej Duda"></a>
            <a href = "https://www.facebook.com/krzysztof.dziedzina.37/"><img src="/static/img/fb.png\" alt = "Andrzej Duda"></a>
            <a href = "https://www.linkedin.com/in/krzysztof-dziedzina-9b134a177/"><img src="/static/img/linkedln.png\" alt = "Andrzej Duda"></a>
            <a href = "mailto: dziedzinakrzysztof@gmail.com"><img src="/static/img/gmail.png\" alt = "Andrzej Duda"></a>

        </div>
    </div>


</main>
{% endblock %}